VITE_SUPABASE_URL=https://miqzywzuqzeffqpiupjm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pcXp5d3p1cXplZmZxcGl1cGptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzMjM3NzksImV4cCI6MjA3Mzg5OTc3OX0.WTlTJLGNkiXzdjpz0g29DEvHgfJPsBVqVFtI7pDKt5w