---
extends: default

rules:
  line-length:
    max: 200
    level: error
  document-start:
    level: warning
  truthy:
    level: warning
  comments:
    level: warning
  comments-indentation:
    level: warning
